.calculator-container{
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #bfc2c2;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;

}
.display{
  margin-bottom: 10px;
  border: none;
}
.display input{
  width: 96%;
  height: 50px;
  outline: none;
  font-size: 20px;
}
.button-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
}
.button-container button{
  width: 70px;
  height: 70px;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.normal-button {
  background-color: #a4a5a4;
}
.button-container button:hover {
  background-color: #686968;
}
.button-container button:active {
  background-color: #2fa72f;
}
.operator{
  background-color: #6575aa;
}